.rotate-logo {
    display: inline-block;
    -webkit-animation: rotate 3s linear infinite;
    animation: rotate 3s linear infinite;
}

@keyframes rotate {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}